@using WebApp.Utils
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model WebApp.ViewModels.Comment.VideoCommentsViewModel

@{
    Layout = null;
}

@if (Model.VideoComments.LastCommentsFetch == null)
{
    <h4>Comments not yet fetched</h4>
}
else
{
    <h4>Comments</h4>
    <h6>Last fetched: @Context.SpanFor(Model.VideoComments.LastCommentsFetch)</h6>
    <partial name="_PaginationUiPartial" model="@Model.PaginationResult"/>
    <div class="d-flex flex-column gap-1">
        @foreach (var comment in Model.VideoComments.Comments)
        {
            <partial name="_CommentPartial" model="@comment"/>
        }
    </div>
}