@using RescueTube.Core.Identity
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    @if (RoleNames.AllowedToSubmitRolesList.Any(r => User.IsInRole(r)))
    {
        <partial name="_SubmitLinkPartial"/>
    }
    else
    {
        <div>Hi, please log in</div>
    }
</div>