@using BLL.Identity
@model WebApp.ViewModels.LinkSubmissionModel

@if (RoleNames.AllowedToSubmitRolesList.Any(r => User.IsInRole(r)))
{
    <h2>Add a link to the archive.</h2>
    <form id="link-submit-form" asp-controller="Submissions" asp-action="Create" method="post">
        <div asp-validation-summary="All" class="text-danger" role="alert"></div>
        <div>
            <label asp-for="Link"></label>
            <input asp-for="Link"/>
            <span asp-validation-for="Link" class="text-danger"></span>
        </div>
        <input type="submit" value="Submit" class="btn btn-primary"/>
    </form>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}
